*{
    box-sizing: border-box;
}

.container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 6fr 1fr 1fr;
    background-image: url("https://images.pexels.com/photos/1120162/pexels-photo-1120162.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.container > div{
    border: 2px solid black;
    width:100%;
    
}

.title{
    background-color:black;
    color:white;
    text-align: center;
    text-transform: uppercase;
    grid-column: 1 / span 2;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    
}

.title h1,p{
    margin:0;
    padding:0;
}

.date{
    text-transform: uppercase;
    text-align: center;
}

.name{
    text-transform: uppercase;
    text-align: center;
}

.qr{
    
    grid-column: 1 / span 2;
    display:grid;
    align-items:center;
}

.qr img{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    display: block;
}

.price {
    grid-column: 1 / span 2;
    display:flex;
    align-items: center;
    gap:2em;
    justify-content: center;
    text-transform: uppercase;
    
}

.price h2{
    
    text-align: center;
}

.price p{
    font-size: 1.5em;
    text-align: center;
}

.info{
    display:none;
}


@media (min-width: 60em){
 
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        grid-template-rows: 8fr 3fr 2fr;
    }

    .title{
        grid-column: 1 / span 3;
        flex-direction: column-reverse;
        justify-content: center;
        
    }

    .qr{
        grid-column: 4 / span 2;
        grid-row: 1 / span 4;
    }

    .qr img{
        padding: 2em;
    }

    .price{
        grid-column: 3 / 4;
    }

    .info{
        grid-column: 1/ span 3;
        text-align:center;
        display:grid;
        align-items: center;
        
    }

}








