*{
    box-sizing: border-box;
    text-transform: uppercase;
}

.container{
    display:grid;
    gap: 1em;
    
}

.container > div{
    display:grid;
    align-items:center;
}


#homework {
    background-color:#E7124E;
    text-align:center;
    width:100%;
    font-size:20px;
    padding: 2em;
    
}

#broken {
    background-color:#64FFF0;
    text-align:center;
    width:100%;
    font-size:20px;
    padding: 2em;
    
}

#cloud {
    background-color:#FFFF0D;
    text-align:center;
    width:100%;
    font-size:20px;
    padding: 2em;
}


@media (min-width:40em){
    .container{
       grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:60em){
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        
    }

    .container > div {
        max-width:100%;
    }

    #broken{
        grid-row: 1 / span 3;
        grid-column-start: 3;
    }

    #cloud{
        grid-row: 2 / span 2;
        grid-column: 4 / span 2;
    }

    
}